<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载系统运行环境依赖的配置，例如：系统设置的变量、数据源等等 -->
    <bean class="com.echo.core.config.PropertiesConfigurationLoader">
        <property name="fileNames">
            <list>
                <value>echo-demo.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="com.echo.core.config"/>
</beans>